.root {
    /* font-size: .8rem; */
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: calc(33% - 140px);
    margin-right: calc(33% - 140px);
    padding-bottom: 3rem;
    text-align: justify;
}

.link {
    color:#8cd1ff;
}
